@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-orange: #f9d661;
    --main-orange-hover: #b4a06c;
    --dark-orange: #453200;
    --light: #f2fedc;
    --light2: #ffefca;
    --green: #00a088;
    --grey: #f2f2f2;
}

@layer components {
    .heading1 {
        @apply text-4xl md:text-5xl lg:text-6xl font-bold
    }

    .heading2 {
        @apply text-3xl md:text-4xl lg:text-5xl font-bold
    }

    .heading3 {
        @apply text-2xl md:text-3xl lg:text-4xl font-semibold
    }

    .bigger-text {
        @apply text-2xl md:text-3xl font-medium
    }

    .normal-text {
        @apply font-medium text-base
    }

    .card {
        @apply space-y-5 bg-white rounded-lg p-5 shadow-xl
    }
}